* {
    box-sizing: border-box;
    background: burlywood;
  }
  
  h2 {
    color: black;
    outline: none; 
  }
  
  legend {
    border: 3px solid black;
    border-radius: 6px;
    opacity: .6;
  }
  
  label span {
    margin-left: 16px;
    margin-top: -8px;
  }
  
  .feedbackScreen {
    display: none;
  }
  
  .questionScreen {
    display: none;
  }
  
  
  .main {
    display: block;
    text-align: center;
  }
  
  header {
    display: block;
    text-align: center;
  }
  
  
  h1 {
    font-size: 30px;
    border: 3px solid black;
    border-radius: 6px;
    color: black;
    outline: none; 
    background-color: burlywood;
    }
  
  button {
    color: black;
    background:burlywood;
    border: 2px solid black;
    border-radius: 6px;
    padding: 15px;
    margin-top: 15px;
  }
  
  button:hover {
    background-color:black;
    color: white;
  }
  
  fieldset {
    border: 5px solid black;
    border-radius: 3px;
    color: black;
    background-image: url(https://www.frontiersin.org/files/Articles/89801/fnana-08-00033-HTML/image_m/fnana-08-00033-g001.jpg);
    background-size: 440px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  label {
    display: flex;
    padding: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
    color: black;
    outline: none; 
    transition: all 0.3s ease-out;
    line-height: 22px;
  }
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    transition: 0.2s all linear;
    outline: none;
    position: relative;
    top: 15px;
    bottom: 15px;
  }
  
  input:checked {
    border: 6px solid black;
  }
  
  input:hover {
    background-color:black;
  }
  
  input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .answerOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: burlywood;
    font: bolder;
  }
  
  .footer {
    text-align: center;
  }
  
  @media screen and (min-width: 760px) {
  
    #questionForm {
      width: 50%;
      margin: auto;
    }
  
    h1 {
      font-size: 40px;
    }
  
    .footer {
      display: block;
    }
  }