* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

h2 {
  outline: none; 
  background-color: black;
}

legend {
  border: 2px solid white;
  border-radius: 6px;
  background-color: black;
}

label span {
  margin-left: 16px;
  margin-top: -8px;
}

.feedbackScreen {
  display: none;
}

.questionScreen {
  display: none;
}



.main {
  display: block;
  text-align: center;
}

header {
  display: block;
  text-align: center;
}


h1 {
  font-size: 30px;
  border: 3px solid white;
  border-radius: 6px;
  outline: none; 
  background-color:  black;
  }

button {
  background:black;
  border: 1px solid white;
  border-radius: 6px;
  padding: 15px;
  margin-top: 15px;
  font-size: 15px;
}

button:hover {
  background-color:white;
  color: black;
}

fieldset {
  border: none;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(https://i.imgsafe.org/00/002f8ef8ba.png)
}

label {
  display: flex;
  padding: auto;
  margin-bottom: 15px;
  padding-bottom: 15px;
  background: transparent;
  color: white;
  outline: none; 
  transition: all 0.3s ease-out;
  line-height: 22px;
}


input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 3px solid black; 
  transition: 0.2s all linear;
  outline: none;
  position: relative;
  top: 15px;
  bottom: 15px;
}

input:checked {
  border: 6px solid white;
}

input:hover {
  background-color:white;
}

input[type=radio] {
  flex: 0 0 auto;
  margin-right: 10px;
}

.answerOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: black;
  font: bolder;
  border: 1px solid white;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 760px) {

  #questionForm {
    width: 50%;
    margin: auto;
  }

  h1 {
    font-size: 40px;
  }

  .footer {
    display: block;
  }
}
